@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EShopAdminApplication.Models.Order


<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    


    .background {
        background-image: url('https://www.pcclean.io/wp-content/uploads/2020/4/RjUB73.jpg');
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
</style>
<div class="background"></div>
<div class="container position-relative">
    <div class="m-3">
        <a class="btn btn-success">Order For: @Model.User.UserName</a>
    </div>

    @for (int i = 0; i < Model.ConcertInOrders.Count; i++)
    {
        var item = Model.ConcertInOrders.ElementAt(i).OrderedConcert;

        if (i % 3 == 0)
        {
            @: <div class="row">
            }

            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img src="@item.ConcertImage" class="card-img-top" style="height:50%;" alt="Image for Concert">
                    <div class="card-body">
                        <h3 class="card-title">@item.ConcertName</h3>
                        <p class="card-text">@item.ConcertDescription</p>

                        <h6>Price: <span class="text-success">$@item.ConcertPrice</span></h6>
                    </div>

                </div>
            </div>

            if (i % 3 == 2)
            {
            @: </div>
        }
    }
</div>